.ConvoDashMain {
  position: relative;
  background-color: rgba(128, 128, 128, 0.3);
  width: 100%;
  height: 70vh;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.ConvoDashMainText {
  position: relative;
  text-align: center;
  top: 250px;
  letter-spacing: 1px;
  color: grey;
}

.ConvoDash {
  width: 100%;
  position: relative;
}

.headerConvoDash {
  width: 100%;
  height: 8vh;
  display: flex;
  border-top-right-radius: 20px;
  border-bottom: 1px solid black;
}

.friendLogo {
  position: relative;
  top: 10px;
  left: 25px;
}

.friendLogo > img {
  width: 60px;
  border-radius: 500px;
}

.friendName > h3 {
  position: relative;
  top: 25px;
  left: 40px;
}

.friendActions {
  position: relative;
  left: 900px;
  display: flex;
  gap: 10px;
}

.deleteFriend {
  position: relative;
  background-color: rgba(128, 128, 128, 0.5);
  font-size: 20px;
  border-radius: 500px;
  left: 25px;
  width: 40px;
  height: 30px;
  top: 25px;
}

.FaTrashAlt {
  position: relative;
  top: 5px;
  left: 10px;
}

.deleteFriend:hover {
  color: red;
  scale: 1.1;
  cursor: pointer;
}

.voiceCall {
  position: relative;
  background-color: rgba(128, 128, 128, 0.5);
  font-size: 20px;
  border-radius: 500px;
  left: 25px;
  width: 40px;
  height: 30px;
  top: 25px;
}

.voiceCall:hover {
  color: greenyellow;
  scale: 1.1;
  cursor: pointer;
}

.IoIosCall {
  position: relative;
  top: 5px;
  left: 10px;
}

.videoCall {
  position: relative;
  background-color: rgba(128, 128, 128, 0.5);
  font-size: 20px;
  border-radius: 500px;
  left: 25px;
  width: 40px;
  height: 30px;
  top: 25px;
}

.videoCall:hover {
  color: orange;
  scale: 1.1;
  cursor: pointer;
}

.MdVideoCall {
  position: relative;
  top: 5px;
  left: 10px;
}

.ConvoBody {
  position: relative;
  background: url(../../Assets/Images/convoBG.jpg);
  width: 100%;
  height: 55vh;
  display: flex;
  background-size: contain;
  overflow-y: auto;
}

.ConvoBody > p {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
  height: fit-content;
  padding: 2px;
  border-radius: 5px;
  margin-left: 550px;
  margin-top: 2px;
}

.mainDivMessages {
  position: relative;
  top: 35px;
  width: 100%;
  height: fit-content;
  display: block;
}

.messageDIVFromMe {
  margin-bottom: 20px;
  width: 100%;
  height: fit-content;
  text-align: left;
  float: right;
  margin-right: 15px;
}

.messageDIVFromMe > p {
  position: relative;
  background-color: rgba(128, 128, 128, 0.7);
  width: fit-content;
  padding: 10px;
  border-radius: 8px;
  font-size: 18px;
  float: right;
}

.messageDIVFromOther {
  margin-bottom: 20px;
  width: 100%;
  height: fit-content;
  text-align: right;
  display: flex;
}

.messageDIVFromOther > .logo {
  width: 50px;
  border-radius: 500px;
  position: relative;
  left: 10px;
}

.messageDIVFromMe > .logo {
  display: none;
}

.messageDIVFromOther > p {
  position: relative;
  left: 15px;
  background-color: rgba(128, 128, 128, 0.7);
  width: fit-content;
  padding: 10px;
  border-radius: 8px;
  font-size: 18px;
}

.ConvoFooter {
  border-bottom-right-radius: 20px;
  position: relative;
  width: 100%;
  height: 7vh;
  border-top: 1px solid grey;
}

.inputArea {
  position: relative;
  margin: auto;
  width: 95%;
  background-color: rgba(128, 128, 128, 0.3);
  height: 5vh;
  border-radius: 80px;
  top: 10px;
  display: flex;
}

.textInput {
  position: relative;
  width: 90%;
  height: 5vh;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.textInput > input {
  width: 100%;
  height: 5vh;
  font-size: 17px;
  border: none;
  background-color: transparent;
  outline: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-left: 20px;
}

.textInput > input:focus {
  background-color: whitesmoke;
}

.messageActions {
  display: flex;
  position: relative;
  gap: 20px;
  top: 5px;
  left: -2px;
}

.BsSendFill {
  width: 50px;
  height: 35px;
  padding: 2px;
  border-radius: 20px;
  font-size: 25px;
}

.BsSendFill:hover {
  color: #3fbac2;
  cursor: pointer;
}

.BsUpload {
  width: 50px;
  height: 35px;
  padding: 2px;
  border-radius: 20px;
  font-size: 25px;
}

.BsUpload:hover {
  color: #3fbac2;
  cursor: pointer;
}

.friends > a {
  text-decoration: none;
  color: initial;
}
